#circle_dim_color {
    width: 30px;
    height: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 0px 0px 0px 10px;
}
#circle_aver_color {
    width: 30px;
    height: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 0px 0px 0px 10px;
}
#circle_palette {
    width: 30px;
    height: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 0px 0px 2px 25px;
}
.top-menu ul {
background: #eee;
padding: 20px 50px 20px 10px;
box-sizing: border-box;
overflow: hidden;
color: #555;
text-align: right;
}

.top-menu li {
padding: 0px 30px 0px 00px;
display: inline;
}
.top-menu li a {
text-decoration: none !important;
}
.top-menu li {
font-size: 20px;
text-decoration: none !important;
display: inline;
}
.form-box {
margin-left: 300px;
margin-right: 300px;
margin-top: 10px;
}
.form-box button {
  background-color: #f2eceb;
  color: black;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 100px;
}

.image-data-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}
.image-data-block-left{
 margin: 6px;
 width: calc(40% - 12px);
}
.image-data-block-right{
margin: 6px;
width: calc(60% - 12px);
vertical-align: top;
}
.text-field {
display: block;
  width: 33%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}

button {
	background: #f2eceb;
	max-width: 150px;
	margin: 0 auto;
	padding: 0px 20px 2px 20px;
	border-radius: 10px;
	font-size: 20px;
}


.zoomable-image {
    width: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zoomable-image:hover {
    transform: scale(1.05);
}


.image-container {
    position: relative;
    z-index: 1;
}

.enlarged {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
}

.enlarged-image-overlay {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 480px;
    width: 37%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0);
}


.hidden {
    display: none;
}

.image-description {
background-color: rgba(255,255,255, 1);
}

.image-description p{
font-size: 10px;
margin: 0px 0px 0px 10px;

}

.image-container .edit-button {
  display: none;
}

.image-container.show-edit .edit-button {
  display: block;
}

.row {
display: flex;
}

.button-position {
margin-left: 120px;
}

.pagination {
	text-align: center;
	margin: 20px 0 10px 600px;
}
.pagination ul {
	margin: 0px 0 0 0;
	padding: 0;
	list-style: none;
}
.pagination ul li {
	display: inline-block;
	margin: 0px 0px 0 0;
}
.pagination a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.pagination .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 1px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.pagination .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.pagination .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.pagination .page-num-selected:hover {
	box-shadow: none;
}
